{% extends 'AdminBundle:Default:base.html.twig' %}

{% block content %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Dokumentáció</h1>
        <p>Mindenféle leírás</p>
        <p>soon...</p>
      </div>
{% endblock %}
