{% extends 'AdminBundle:Default:base.html.twig' %}

{% block content %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>FnT admin panel</h1>
        <p>Itt tudsz szerkeszteni mindenféle cuccot. <b>Legyél nagyon óvatos, csak óránkénti mentésünk van!</b></p>
        <p>Ha kérdésed van, keress facebookon, emailben, telefonon...</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Doksi &raquo;</a>
        </p>
      </div>
{% endblock %}
