<html>
<head>
<style>
html {
    padding: 20px;
    background: black;
    color: white;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
}
div { 
  background: url({{ asset('img/bg.jpg') }}) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 90%;
}
</style>
</head>
<body>
<div></div>

In development
</body>
</html>